Abu Python练习

In [26]:
###########
#1.将一个DataFrame中符合自选股列表的行批量选取出来

import pandas as pd
datas = [
{'name': '王小一', 'hight': 171, 'weight': 100},
{'name': '李小二', 'hight': 163, 'weight': 200},
{'name': '张小三', 'hight': 152, 'weight': 67},
{'name': '郭小四', 'hight': 148, 'weight': 77},
{'name': '钱小五', 'hight': 189, 'weight': 87},
{'name': '孙小六', 'hight': 155, 'weight': 82},
{'name': '周小七', 'hight': 169, 'weight': 74},
{'name': '吴小八', 'hight': 170, 'weight': 68},
{'name': '郑小九', 'hight': 173, 'weight': 65},
{'name': '冯老十', 'hight': 175, 'weight': 64}
]
df = pd.DataFrame(datas)
df

   hight name  weight
0    171  王小一     100
1    163  李小二     200
2    152  张小三      67
3    148  郭小四      77
4    189  钱小五      87
5    155  孙小六      82
6    169  周小七      74
7    170  吴小八      68
8    173  郑小九      65
9    175  冯老十      64

In [27]:
needrow=['王小一','李小二']
# needrow=['王小一']

df1=df.copy()
# df=df[~df['name'].isin(needrow)]
df=df[df['name'].isin(needrow)]
df

   hight name  weight
0    171  王小一     100
1    163  李小二     200